$font__maincolor:#f0f8ff;
$font__descriptioncolor:darkgrey;
$negro:#000000;
$negro-fondo:#00000080;
$colorofglory:#095b6d;
$font__default:'Audiowide',Arial;
$image_size:320px;

$color__crew:(
  angus:#036D19,
  ralathor:#3b5980,
  hootsman:#932F6D,
  proletius:#8d5a12,
  zargothrax:#491111,
 );
 @each $color__crew,$bg-color in $color__crew{
  .pj__#{$color__crew}{
    background-color: $bg-color;
  }
}

*{
  padding: 0;
  margin: 0;
}
h3{
  padding: 20px;
}
.bg{
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  &__index{
    background-image:url("./src/img/background__index.jpg");
  }
  &__music{
    background-image:url("./src/img/background__music.jpg");
    background-attachment: fixed;
  }
  &__banda{
    background-image:url("./src/img/background__banda.png");
    background-attachment: fixed;
  }
  &__lore{
    background-image:url("./src/img/background__lore.jpg");
    background-attachment: fixed;
  }
  &__tour{
    background-image:url("./src/img/background__tour.jpg");
    background-size:cover;
    background-position: right;
  }
}


.nav-link{
  text-decoration: none;
  color: $font__maincolor;
  &:hover{
    background-color: $font__maincolor;
    color: $negro;
  }
}
.color_gris{
  background-color: $colorofglory;
}

.letras_blancas{
  font-family: $font__default;
  color:$font__maincolor
}

h3{
  font-family: $font__default;
}
.letras_blanca{

  color:#acf6f8
}

.descripciones{
  font-family: 'Bebas Neue',Arial;
  font-size:x-large;
  place-items: center;
  color: darkgrey;
}

.redes_icono{
  width: 75px;
  height: 75px;
  margin-top: 10px;
}

.img__size{
  width: $image_size;
  height: $image_size;
}

.fondo-negro{
  background-color:$negro-fondo;
  margin: 20px;
}

.tourdate{
  width: 759px;
  height: 1490px;
}

@media screen and (max-width:375px) {
  .img__size{
    width: 75%;
    height: auto;
  };
}







